
obj/ZombieGame.csproj.nuget.g.targets
obj/ZombieGame.csproj.nuget.g.props
obj/ZombieGame.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/ZombieGame.GlobalUsings.g.cs
obj/Debug/net8.0/ZombieGame.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/ZombieGame.assets.cache
obj/Debug/net8.0/ZombieGame.AssemblyInfoInputs.cache
obj/Debug/net8.0/ZombieGame.AssemblyInfo.cs
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.vs/ZombieGame/v17/DocumentLayout.json
.vs/ZombieGame/v17/.suo
.vs/ZombieGame/FileContentIndex/e1f60212-a6b0-4c98-b8ba-85ed11577117.vsidx
.vs/ZombieGame/FileContentIndex/aea07a87-26e4-42a3-ac79-d3864da0be1a.vsidx
.vs/ZombieGame/FileContentIndex/a5dbed20-5b1f-4de3-b038-8342da33fb04.vsidx
.vs/ZombieGame/FileContentIndex/4a22475d-415b-4eae-bbcd-82fefe564c56.vsidx
